Assignment1/part1.1/calculator.wsdl

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. 
-->
<!--
 Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator_maven.calculator.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator_maven.calculator.com/" name="CalculatorServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator_maven.calculator.com/" schemaLocation="http://localhost:8080/calculator_maven/CalculatorServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<portType name="CalculatorService">
<operation name="add">
<input wsam:Action="http://calculator_maven.calculator.com/CalculatorService/addRequest" message="tns:add"/>
<output wsam:Action="http://calculator_maven.calculator.com/CalculatorService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="sub">
<input wsam:Action="http://calculator_maven.calculator.com/CalculatorService/subRequest" message="tns:sub"/>
<output wsam:Action="http://calculator_maven.calculator.com/CalculatorService/subResponse" message="tns:subResponse"/>
</operation>
<operation name="mul">
<input wsam:Action="http://calculator_maven.calculator.com/CalculatorService/mulRequest" message="tns:mul"/>
<output wsam:Action="http://calculator_maven.calculator.com/CalculatorService/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://calculator_maven.calculator.com/CalculatorService/divRequest" message="tns:div"/>
<output wsam:Action="http://calculator_maven.calculator.com/CalculatorService/divResponse" message="tns:divResponse"/>
</operation>
</portType>
<binding name="CalculatorServicePortBinding" type="tns:CalculatorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorServiceService">
<port name="CalculatorServicePort" binding="tns:CalculatorServicePortBinding">
<soap:address location="http://localhost:8080/calculator_maven/CalculatorServiceService"/>
</port>
</service>
</definitions>